.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 90px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-logo {
  position: fixed;
  right: 20px;
  height: 50px;
  width: 80px;
  object-fit: contain;
}

.nav-button {
  position: fixed;
  left: 20px;
  width: 50px;
  object-fit: contain;
  display: flex;
}

.nav__black {
  background-color: black;
}
